@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  margin: 50px;
  padding: 0;
  background-color: #23252c;
  font-family: 'Inter', sans-serif;
}

.Container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 300px;
  min-height: 725px;
}

section {
  width: 300px;
  display: flex;
  background-color: #1a1b21;
}
